<div class="searchContainer">
    <div class="searchSection">
        <div class="homeImg w-100">
            <div class="searchBoxSection">
                <ul class="navPills">
                    <strong>
                        <h1 class="captionEts font-weight-bold ">Hayalindeki tatili ETS ile planla!</h1>
                    </strong>
                </ul>
                <app-search-section></app-search-section>
                <ul class="navPillsBottom">
                </ul>
            </div>
        </div>
    </div>
</div>