<div class="container modalWrapper">
    <div class="modal-header">
        <h5 class="modal-title"><b>
                Fiyat ve İndirimler Hakkında Bilgilendirme
            </b></h5>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="activeModal.dismiss('Cross click')"><div class="closeBtn">x</div></button>
    </div>
    <div class="modal-body">
        <p>Bazı tesislerin fiyatları, tesis tarafından sezonluk olarak belirlenir. Erken rezervasyon indirimleri,
            belirlenen bu fiyatlar üzerinden yapılır. Tesis tarafından belirlenen bu fiyatlar, o dönemde geçerli olan
            şartlara (mücbir sebepler, doluluk oranı, vb.) göre farklılaşabilir; yani yükselebilir ya da düşebilir.
            <br>
            <br>
            Bazı tesisler içinse fiyatlar, tesis tarafından tek taraflı ve anlık olarak belirlenir. İndirimler,
            belirlenen bu fiyatlar üzerinden yapılır. Tesisin belirlediği bu fiyatlar, o dönemde geçerli olan şartlara
            (mücbir sebepler, doluluk oranı, vb.) göre farklılaşabilir; yani yükselebilir ya da düşebilir.<br><br>
            Söz konusu fiyatlar ve indirimlerle ilgili detayları, ilgili tesisin internet sitemizde yer alan sayfası
            üzerinden, fiyatların gösterildiği alanda görebilirsiniz.
        </p>
    </div>

</div>