<section class="app m-5">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between footerInfoSectiion">
            <div class="col-md-3 appImgContainer d-lg-block px-3">
                <img class="imgPhone p-3" src="../../../../assets/common/appImgPhone.svg">
            </div>
            <div class="col-lg-8 apps-info px-3">
                <div class="appTitle">
                    Etstur uygulaması ile tatil planı yapmak çok kolay!</div>
                <div class="appDesc">
                    Tatil köyünden butik otele, pansiyondan apart otele kadar sayısız konaklama seçeneği ETS’nin mobil
                    uygulamasında! Dilerseniz uçak biletinizi de satın alabileceğiniz uygulamada, birbirinden özel
                    fırsatlar sizi bekliyor. Uygulamayı hemen indirin, hızlı ve kolay rezervasyonun tadını çıkarın!
                </div>
                <div class="img">

                </div>
                <div class="appLinkWraper d-flex pt-3">
                    <a target="_blank" href="https://apps.apple.com/tr/app/etstur/id882198456">
                        <img class="appLinkApple" src="../../../../assets/common/footer-appstore.webp"
                            alt="Etstur Appstore Uygulaması">
                    </a>
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.etstur">
                        <img class="appLinkGoogle" src="../../../../assets/common/footer-gplay.webp"
                            alt="Etstur Google Play Uygulaması">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container wrapperDoc">
    <div class="reservationsDocs col-12">
        <div class="container">
            <div class="row ">
                <div class="wrapperCaption">
                    <button class=" btnDoc btnMobile1">
                        Rezervasyon Belgeleri
                    </button>
                    <a class="btnMobile2  btnDoc" href="https://partners.odamax.com/">
                     Tesisinizi ücretsiz kaydedin 
                    </a>

                </div>
                <div class="docDesc col-12">
                    <p>
                        Türkiye’nin önde gelen seyahat ve turizm kuruluşu Etstur, hem yurt içinde hem de yurt dışında
                        tatil alternatifleri üretmek üzere 1991 yılında kuruldu. Kuruluş yılından itibaren misafirlerine
                        en iyi seyahat deneyimini sunmayı hedefleyen markamız, hızla büyüyerek vizyoner yapısı ile
                        seyahat sektöründeki birçok ilke imza attı. </p>
                    <div class="d-block d-md-block">
                        <p>
                            Etsgroup çatısı altında hayata geçirdiğimiz alt markalarımız ile konaklama, ulaşım ve acente
                            zincirini kurarak, turizmin tüm gerekliliklerini kapsayan hizmetler sunuyoruz. Otel
                            rezervasyonu ve yurt içi-yurt dışı kültür turlarının yanı sıra uçak bileti satışı, araç
                            kiralama hizmeti yan hizmetlerle tatil ve seyahat alanında, tüketicinin farklı ihtiyaç ve
                            beklentilerini karşılıyoruz.</p>
                        <p>
                            Deneyimli seyahat danışmanlarından oluşan çağrı merkezimiz, 150’yi aşkın satış ofisimiz, web
                            sitemiz ve mobil uygulamamız ile misafirlerimize diledikleri her an ulaşabilecekleri
                            rezervasyon kanallarımız üzerinden hizmet veriyoruz. Ayrıca misafir memnuniyeti alanında
                            çalışmalarını sürdüren profesyonel ekibimiz ile sadece satış öncesi değil satış sonrasında
                            da seyahatlerinizi kusursuz kılmak için buradayız!</p>
                    </div>
                    <div class="d-block d-lg-none">
                        <a data-toggle="collapse" href="#cl-res-docs-example" role="button" aria-expanded="false"
                            aria-controls="cl-res-docs-example" class="d-none d-lg-block"> Devamını Oku</a>
                        <div class="collapse mt-2" id="cl-res-docs-example">
                            <p>
                                Etsgroup çatısı altında hayata geçirdiğimiz alt markalarımız ile konaklama, ulaşım ve
                                acente zincirini kurarak, turizmin tüm gerekliliklerini kapsayan hizmetler sunuyoruz.
                                Otel rezervasyonu ve yurt içi-yurt dışı kültür turlarının yanı sıra uçak bileti satışı,
                                araç kiralama hizmeti yan hizmetlerle tatil ve seyahat alanında, tüketicinin farklı
                                ihtiyaç ve beklentilerini karşılıyoruz.</p>
                            <p>
                                Deneyimli seyahat danışmanlarından oluşan çağrı merkezimiz, 150’yi aşkın satış ofisimiz,
                                web sitemiz ve mobil uygulamamız ile misafirlerimize diledikleri her an ulaşabilecekleri
                                rezervasyon kanallarımız üzerinden hizmet veriyoruz. Ayrıca misafir memnuniyeti alanında
                                çalışmalarını sürdüren profesyonel ekibimiz ile sadece satış öncesi değil satış
                                sonrasında da seyahatlerinizi kusursuz kılmak için buradayız!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="populerRegions">
    <div class="container regions">
        <div class="title">
            <h5>Populer Bölgeler</h5>
        </div>
        <div class="hotelsList row ">

            <div class="col-6 col-md-2">
                <ul>
                    <li>
                        <a href="#">Antalya Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Alanya Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Ayvalık Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Kemer Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Kuşadası Otelleri</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <ul>
                    <li>
                        <a href="#">Asos Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Belek Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Bodrum Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Bozcaada Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Bursa Otelleri</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <ul>
                    <li>
                        <a href="#">Çeşme Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Didim Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Datça Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Eskişehir Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Fethiye Otelleri</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <ul>
                    <li>
                        <a href="#">İzmir Otelleri</a>
                    </li>
                    <li>
                        <a href="#">İstanbul Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Kapadokya Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Kaş Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Amasra Otelleri</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <ul>
                    <li>
                        <a href="#">Ankara Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Marmaris Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Mersin Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Uludağ Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Abant Otelleri</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-md-2">
                <ul>
                    <li>
                        <a href="#">Bolu Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Sapanca Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Palandöken Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Büyükada Otelleri</a>
                    </li>
                    <li>
                        <a href="#">Ağva Otelleri</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class=" socialLinks">
    <div class="wrapper">
        <ul class="social">
            <li>
                <a href="//www.facebook.com/etstur" target="_blank" aria-label="Etstur Facebook Hesabı">
                    <img class="iconSocial" src="../../../../assets/common/iconsfacebook.png">
                </a>
            </li>
            <li>
                <a href="//twitter.com/etstur" target="_blank" aria-label="Etstur Twitter Hesabı">
                    <img class="iconSocial" src="../../../../assets/common/iconstwitter.png">
                </a>
            </li>
            <li>
                <a href="//instagram.com/etstur" target="_blank" aria-label="Etstur Instagram Hesabı">
                    <img class="iconSocial" src="../../../../assets/common/iconsinstagram.png">
                </a>
            </li>
            <li>
                <a href="//www.youtube.com/user/EtsTurizm/videos" target="_blank" aria-label="Etstur Youtube Hesabı">
                    <img class="iconSocial" src="../../../../assets/common/iconsyoutube.png">
                </a>
            </li>
            <li>
                <a href="//www.pinterest.com/etstur" target="_blank" aria-label="Etstur Pinterest Hesabı">
                    <img class="iconSocial" src="../../../../assets/common/iconspinterest.png">
                </a>
            </li>
            <li>
                <a href="//www.linkedin.com/company/975162" target="_blank" aria-label="Etstur LinkedIn Hesabı">
                    <img class="iconSocial" src="../../../../assets/common/iconslinkedin.png">
                </a>
            </li>
            <li>
                <a href="//foursquare.com/user/31326421" target="_blank" aria-label="Etstur Foursquare Hesabı">
                    <img class="iconSocial" src="../../../../assets/common/iconsfoursquare.png">
                </a>
            </li>
        </ul>
        <!-- <div class="app-links show-browser">
            <a target="_blank" href="https://apps.apple.com/tr/app/etstur/id882198456" rel="nofollow"><img
                    loading="lazy" src="/resources_t/img/footer-appstore.png" alt="Etstur Appstore Uygulaması"></a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.etstur" rel="nofollow"><img
                    loading="lazy" src="/resources_t/img/footer-gplay.png" alt="Etstur Google Play Uygulaması"></a>
        </div> -->
        <ul class="callCenterandAgency ">
            <li>
                <a href="tel:4440387">
                    <img src="../../../../assets/homepage/headsetWhite.png" class="technicalsupport">
                    <strong class="numberCallCenter">444 0 387</strong>
                    <span>Tatilde bir numara!</span>

                </a>
            </li>
            <li>
                <a href="/Satis-Acentelerimiz" rel="nofollow" target="_blank">
                    <img class="agency" src="../../../../assets/homepage/storeWhite.png">
                    <strong>150'nin</strong>
                    <span>üzerinde acente</span>

                </a>
            </li>
        </ul>
       
    </div>
</section>