<div class="navbar-mobile">

    <div class="hamburgerSection" (click)="activeModal.dismiss('Cross click')">
        <i class="fa-solid fa-xmark crossIcon"></i>
    </div>

    <a class="etsLogo" [routerLink]="'/homepage'">
        <img class="logo" src="../../../assets/homepage/ets-logo2.webp" alt="ets-logo2">
    </a>

    <div class="wrapperAccountMobile">
        <div class="wrapperMobile">
            <div class="signinContainerMobile">
                <img src="../../../assets/common/accountMobile.png" class="checkedUserMobile">
                <span class="account">Hesabım</span>
            </div>
        </div>
    </div>

</div>
<div class="wrapper">

    <div class="accountSection">
        <div class="signinContainer">
            <div class="singInMobile">
                <img src="../../../../assets/homepage/verified-account.png" class="checkedUserMobile">
                <span>Giriş Yap</span>
            </div>
            <div class="addUserMobile">
                <img src="../../../assets/homepage/add-user.png" class="userAddMobile">
                <span>Üye Ol</span>
            </div>
        </div>
    </div>

    <div class="wrapperContainer">
        <div class="hotelWrapper borderBottomWrapper">
            <span>Otel</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="tourWrapper borderBottomWrapper">
            <span>Tur</span>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="airplaneWrapper borderBottomWrapper">
            <span>Uçak</span>
        </div>
        <div class="kıbrısWrapper borderBottomWrapper">
            <span>Kıbrıs</span>
        </div>
        <div class="villaWrapper borderBottomWrapper">
            <span>Villa</span>
        </div>
        <div class="earlyReservationWrapper borderBottomWrapper">
            <span>Erken Rezervasyon</span>
        </div>
        <div class="etsPlusWrapper borderBottomWrapper">
            <span>Etsplus</span>
        </div>
    </div>

    <div class="bottomSectionWrapper">
        <div class="wrapperSection">
            <div class="topSection">
                <img src="../../../../assets/homepage/comments.png" class="commentIcon">
                <strong>Canlı Destek</strong>
            </div>
            <div class="bottomSection">
                <img src="../../../../assets/homepage/like.png" class="likeIcon">
                <strong>Geri Bildirim</strong>
            </div>
        </div>
        <div class="wrapperSection">
            <div class="topSection">
                <img src="../../../../assets/homepage/agency.png" class="agencyIcon">
                <strong>Acentalar</strong>
            </div>
            <div class="bottomSection">
                <img src="../../../../assets/homepage/headset.png" class="callCenterIcon">
                <strong>Sizi Arayalım</strong>
            </div>
        </div>
    </div>

</div>