::ng-deep.modal-content {
    width: 103%;
    left: -9px;
    margin-top: -2%;
}

.map {
    width: 100%;
    height: auto;
    display: block;
    overflow: hidden;
    color: #056bfd;
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15);
    background-color: #fff;
    margin: 0px
}

.mapImg {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
}

.mapView {
    height: 60px;
    overflow: hidden;
    width: 100%;
}

.mapIcon {
    height: 15px;
    width: 20px;
    margin-right: 12px;
}


.compareHotels {
    margin-top: 12px;
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15);
    background-color: #fff;
    width: 100%;
    height: auto;
}

.checkBoxHotels .text {
    font-size: 13px;
}

.breadcrumb {
    font-size: 17px;
}


.hotelsWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.filtersSection {
    margin-top: 12px;
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .15);
    padding: 10px;
    font-size: 13px;
    background: #ebf1fa66;
    width: 100%;
    height: fit-content;
}


.allFilters {
    margin-left: 8px;
}

.filterCaptionFirst {
    background: #ebf1fa;
    width: 101%;
    margin: -2px;
    height: 5vh;
    padding: 7px;
}

.mostPreferredFilters {
    background: #ebf1fa;
    width: 101%;
    margin: -4px;
}

.discountModal {
    border: none;
    border-bottom: #056bfd solid 1px;
    padding: 2px;
    background-color: transparent;
    margin-bottom: 6px;
    font-size: 14px;
}

.hotelsSorting {
    font-size: 14px;

}

.optionFilter {
    cursor: pointer;
}

.commonFilters {
    border-bottom: 1px solid #ebf1fa;
    width: 100%;
    margin-left: 2px;
}

.showMore,
.showLess {
    outline: none;
    color: #056bfd;
    font-size: 12px;
    font-weight: 300;
    padding: 0;
    background: 0 0;
    margin-top: 6px;
    cursor: pointer;
}

.showMoreBottomIcon,
.showLessTopIcon {
    height: 22px;
    margin-left: -2px;
    margin-top: 3px;
    cursor: pointer;

}


.checkBoxHotels {
    border: 1px transparent solid;
    background: #fff;
    border-radius: 4px;
    padding: 0px;
    margin: 5px;

}

/*butons section*/

.buttons {
    width: 100%;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    left: -7px;
}

.btnReset,
.btnApply {
    width: 196px;
    height: 32px;
    margin: 4px;
    border-radius: 4px;
    font-size: 14px;
    text-transform: uppercase;

}

.btnReset {
    background: #fff;
    border: 1px #056bfd solid;
    color: #056bfd;
}

.btnApply {
    box-shadow: 0 3px 8px 0 rgba(18, 5, 41, 0.2);
    background-image: linear-gradient(186deg, #08aeea, #17cec4);
    background-color: #17cec4;
    color: #fff;
    border: none
}

/*TABLET RESPONSİVE START*/

@media screen and (max-width: 995px) {
    ::ng-deep .modal-content {
        width: 780px !important;
        left: -9pc !important;
        margin-top: -6% !important;
    }
}

@media screen and (max-width: 865px) {
    ::ng-deep .modal-content {
        width: 785px !important;
        left: -11pc !important;
        margin-top: -6% !important;
    }
}

@media screen and (max-width: 850px) {
    ::ng-deep .modal-content {
        width: 800px;
        left: -8pc !important;
        margin-top: -6% !important;
    }
}

@media screen and (max-width: 770px) {
    ::ng-deep .modal-content {
        width: 686px !important;
        left: -7pc !important;
        margin-top: -6% !important;
    }
}

@media screen and (max-width: 700px) {
    ::ng-deep .modal-content {
        width: 652px !important;
        left: -5pc !important;
        margin-top: -4% !important;
    }
}

@media screen and (max-width: 650px) {
    ::ng-deep .modal-content {
        width: 632px !important;
        left: -4pc !important;
        margin-top: -4% !important;
    }
}

@media screen and (max-width: 640px) {
    ::ng-deep .modal-content {
        width: 590px !important;
        left: -3pc !important;
        margin-top: -4% !important;
    }
}

@media screen and (max-width: 580px) {
    ::ng-deep .modal-content {
        width: 399px !important;
        left: -1pc !important;
        margin-top: -3% !important;
    }
}
@media screen and (max-width: 500px) {
    ::ng-deep.modal-content {
        width: 438px !important;
        left: -1pc !important;
        margin-top: -6% !important;
    }

    .buttons {
        width: 94%;
        height: 65px;

        bottom: 0px;
        left: 13px;
    }
}

@media screen and (max-width: 415px) {
    ::ng-deep.modal-content {
        width: 423px !important;
        left: -1pc !important;
        margin-top: -6% !important;
    }

    .buttons {
        width: 94%;
        height: 65px;

        bottom: 0px;
        left: 13px;
    }
}

@media screen and (max-width: 380px) {
    ::ng-deep.modal-content {
        width: 387px !important;
        left: -1pc !important;
        margin-top: -6% !important;
    }

    .buttons {
        width: 94%;
        height: 65px;

        bottom: 0px;
        left: 13px;
    }
}

@media screen and (max-width: 330px) {
    ::ng-deep.modal-content {
        width: 328px !important;
        left: -1pc !important;
        margin-top: -6% !important;
    }

    .buttons {
        width: 94%;
        height: 65px;

        bottom: 0px;
        left: 10px;
    }
}